
<h3>Total percentage of success transactions is <%= @total_success_trans.round(2)%></h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>City</th>
      <th>Transacted Amount</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.timestamp %></td>
        <td><%= detail.city %></td>
        <td><%= detail.transacted_amount %></td>
        <td><%= detail.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>